{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="MultipleFiles">Upload Multiple Files</label>
                <input type="file" class="form-control-file" name="files[]" multiple="true" id="MultipleFiles" autocomplete="off", required>
            </div>
            <div class="form-group">
                <label for="queryForm"> Query</label>    
                <input type="search" id="queryForm" class="form-control" name="query" placeholder="Masukkan query">
                
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
    
    <hr>

    <div class="container">

        <h2>Query yang dicari </h2>
        <p>{{query}}</p>
        <hr>
        <h2>Hasil Pencarian</h2>
        {% for i in range (lendata) %}
        <ul class="list-group">
            <li class="list-group-item active" id="hasilPencarian"> {{i+1}}. <a id="linktxt" href='/view/{{txt[i]}}'>Dokumen {{txt[i]}} </a></li>
            <li class="list-group-item"> Jumlah kata : {{ NKata[i] }} </li>
            <li class="list-group-item"> Tingkat kemiripan: {{persen[i]}}% </li> 
            <li class="list-group-item"> Kalimat pertama: </li>
        </ul>
            
        </p>
        {% endfor %}
    </div>

    <hr>    

    <div>
        <table class="table table-hover table-bordered" >
            <thead class="tabel">
                <tr>
                    <th scope="col">No. </th>
                    <th scope="col">Term</th>
                    <th scope="col">Q</th>
                    {% for i in range (lendata)%}
                        <th scope="col"> D{{i+1}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range (lenquery)%}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{querysplit[i]}} </td>
                    <td>{{temp[i]}}</td>
                    {% for j in range (lentabel)%}
                    <td>{{term_tabel[j][i]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}