{% extends "layout.html" %}
{% block content %}
    <div>
        <form action="#" method="POST" enctype="multipart/form-data">
            <p>Upload Multiple Files: </p>
            <input type="file" name="files[]" multiple="true", autocomplete="off", required>
            <p>Search Query: </p>
            <input type="search" name="query">
            <input type="submit" value="submit">
        </form> 
    </div>


    <div>
        <h2>Query yang dicari </h2>
        <p>{{query}}</p>
        <h2>Hasil Pencarian</h2>
        {% for i in range (lendata) %}
        <p>
            {{i+1}}. <a href='/view/{{txt[i]}}'>Dokumen {{txt[i]}} </a>
              
            <p> Jumlah kata : {{ NKata[i] }} </p>
            <p> Tingkat kemiripan: {{persen[i]}}% </p>
            <p> Kalimat pertama: </p>
        </p>
        {% endfor %}
    </div>

    
    <div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">No. </th>
                    <th scope="col">Term</th>
                    <th scope="col">Q</th>
                    {% for i in range (lendata)%}
                        <th scope="col"> D{{i+1}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range (lenquery)%}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{querysplit[i]}} </td>
                    <td>{{temp[i]}}</td>
                    {% for j in range (lentabel)%}
                    <td>{{term_tabel[j][i]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}